* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: black;
  min-height: 110vh;
  color: white;
  .data-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2rem;
    div {
      width: 30%;
      @media (max-width: 1200px) {
        width: 80%;
        margin: 1rem auto;
      }
    }
  }
  .song-list {
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 4rem;
    }
  }
}

h1 {
  font-size: 3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  legend {
    font-size: 2rem;
  }
  div {
    width: 100%;
    
    margin: 0.1rem auto;
  }
  input {
    width: 100%;
  }
  
}

button {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 3rem;
  border: none;
}
